<!DOCTYPE html>
<html>
  <head>
    <title>Vers천es</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Vers천es de Carros</h1>
    <table>
      <thead>
        <tr>
          <th>ID Vers찾o</th>
          <th>ID Modelo</th>
          <th>Nome da Vers찾o</th>
        </tr>
      </thead>
      <tbody>
        <% for (let item of resultado) { %>
          <tr>
            <td><%= item.id_versao %></td>
            <td><%= item.id_modelo %></td>
            <td><%= item.nome_versao %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
 